{% extends "blog/base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class= "text-center"> 
<form class= "form-signin" method="post" action="{% url 'login' %}">
{% csrf_token %}

<label for="inputEmail" class="sr-only">Email address</label>
  <label class="form-control">{{ form.username.label_tag }}</label>
  <label class="form-control">{{ form.username }}</label>
</tr>

<tr>
  <label class="form-control" >{{ form.password.label_tag }}</label>
  <label class="form-control">{{ form.password }}</label>
</tr>
</table><table>

    
<input class = "btn  btn-secondary" style= "background-color: rgb(240, 154, 154); color:rgb(85, 81, 81)" type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">Perdeu a senha?</a></p>
</div>

 
 


  {% endblock %}
 

