<DOCTYPE html>
        <html> 
            <head>
            <meta name="charset" content="utf-8" />
            <meta name="viewport" content="width-device-width, initial-scale-1.0"/>
            
            <title> Auto-estima </title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </head>
            <body>
            <div id=oi class=container >  
           <header>
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4 pt-1">
                <a class="btn btn-sm btn-outline-secondary" style= "background-color:  rgb(238, 190, 192)"  href="#">Sobre o blog</a>
              </div>
              <div class="col-4 pt-1 text-center">
                <a class="blog-header-logo text-dark" href="#">
                  {% load static %}

             <img src="{% static 'logo.png' %}" width= "350px">
              </a>
            </div>
              <div class="col-4 d-flex justify-content-end align-items-center">
              
              <div class="col-4 pt-1">
                  
                    <a class="btn btn-sm btn-outline-secondary" style= "background-color:  rgb(240, 190, 191)"   href="{% url 'login'%}">Login</a>
                  </div>
                
                   
                  
            </div>
            </div>
            <div class= "row flex-nowrap justify-content-between align-items-center"> 
           <form action = "{%url 'search' %}" method="GET" class= "form-inline align-items-center" >
                    <input class= "form-control" name= "q" type="text" placeholder = "Pesquise aqui ...." style = "border-color: rgb(218, 184, 185) "> 
                  <input class="btn btn-sm btn-outline-secondary" style=  "background-color:  rgb(245, 181, 184); font-family : long; "class= "form-control"type= "submit" value= "Pesquisar">
                </form>
                </div>
           
        <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;"/>
            </header>

        <div id=oi class= container > 
            <div class="nav-scroller py-1 mb-2">
                    {% load static %}
            <nav class="nav d-flex justify-content-between">
              <a class="p-2 text-muted "  href="{% url 'category-detail' 1 %} "><img src="{% static 'cabelo.png' %}" width="100px" height="100px"> Cabelos</a> 
              <a class="p-2 text-muted" href= "{% url 'category-detail' 4 %} " ><img src="{% static 'unhas.png' %}" width="100px" height="100px">Unhas</a> 
              <a class="p-2 text-muted" href="{% url 'category-detail' 6 %} "><img src="{% static 'maquiagem.png' %}" width="100px" height="100px">Maquiagem</a>
              <a class="p-2 text-muted" href="{% url 'category-detail' 7 %} "><img src="{% static 'dicas.png' %}" width="100px" height="100px">Dicas</a>
               
              <a class="p-2 text-muted" href="{% url 'category-detail' 9 %} "><img src="{% static 'autoestima.png' %}" width="100px" height="100px">Auto-estima</a>
          
            </nav>
          </div>
          </div>
      
          <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 2px;"/>



        {% load static %}
          <center><img src="{% static 'beleza.jpg' %}" width="1100px"> 


        
            {% block content %}
            {% endblock %}
                
            </body>
            <style>
                .posts {
                    margin-right: 20px;
                    margin-left:  20px;
                }
                . {
                    background-image : url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiOjKrY1YTjAhUIH7kGHSETDNcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.bbc.com%2Fportuguese%2Fgeral-44947472&psig=AOvVaw1XJuxT2knmkHmkru54eaup&ust=1561553349710966");
                }
                .blog{
                    font-size : 24px;
                    font-family : "long";
                    margin-left : 25px;
        
                }
                .p-2 {
                    font-size : 22px;
                    font-family : "long";
                    color : #ad000a;
                }
                .nav-scroller {
                    margin-left : 28px;
                    margin-right : 28px;
                    color : #ad000a ;
                }
                .btn {
                    margin-right : 28px;
                    margin-left : 28px;
                    font-size : 24px;
                    font-family : "long";
                }
                .oi  {
                    background-color : white;
                }
            </style>
            </div>
        </html>

