{% extends "blog/base.html" %}

{% block content %}
	<h3 class="my-4 mt-4 ">{{ object.name }}</h3>

	{% for post in object.posts.all %}
	<div class= "row"> 
		
		{% include "blog/post_card.html" %}
	</div>
    {% endfor %}

{% endblock %}

