{% extends "blog/base.html" %}
{% block content %}
        
        
        <style> 

        .1 {
          width: 300px;
          height: 250px;
        }
        
        </style>
       

        <div id = "posts">
         
          <div class="row">
              {% for post in object_list %}
              {% include "blog/post_card.html" %}
              {% endfor %}
        </div>   
      </div>  




       

    {% endblock %}