
{% extends "blog/base.html" %}

{% block content %}

<div class="mt-4 md-4" >
	<div class="card mb-3 mt-3 shadow-sm">
	
<b><p   style = "font-family:Copperplate; color : #B4045F"  > {{ object.category }} -  {{ object.created_at }}  -  {{ object.author }} </p></b>
<i><h3 style= "font-family: long" class = "my-4">{{ object.title }}</h3>
		<img src="{{ object.banner.url }}" class="img-fluid" width="700px" height="700px">
		<div  style='text-align:left' >{{ object.text| safe }}</div>
 </div>
</div>

{% for comment in post.comments.all %}
<p>
	<b>{{ comment.author }}</b>
	{{ comment.text }}
	{{ comment.created_at }}
</p>
{% endfor %}

<form method="POST" action="{% url 'comment' object.id %}">
{% csrf_token %}
<textarea name="text">
</textarea>
<h3></h3>
<div class = "center">
	<input class = "btn  btn-secondary" style= "background-color: rgb(240, 154, 154); color:rgb(85, 81, 81)"  type="submit" value="Comentar">

</div>
 </form>

{% endblock %}

 