

         
  
      
             <div class="col-md-4 mt-4 ">
                <div class="card mb-3 shadow-sm">
                 
                  <div class="card-body"> 
                    <p class="card-text">
                        <img src = "{{ post.banner.url }}" class='img-fluid'>  
                      
                        <a href="{% url 'post-detail' post.pk %} "><a style = "font-family:courier,arial,helvetica;"> {{ post }}
                        </h4></a>
                        <p>{{post.description}}</p>
                        <b> Autor :</b> {{ post.author }}
                        Categoria: {{ post.category }} 

                    
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{% url 'post-detail' post.pk %} "> <button  type="button" class="btn btn-sm btn-outline-dark">Saiba mais</button></a>
                        
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>   
       
   <style>
      
      .btn {
      background-color : #F6D8CE; 
      color : black;


     }
 </style>
